---
---

@import "{{ site.theme }}";

a.orcid {
    background-image: url('../images/orcid.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
}

strong {
    font-weight: bold;
    color: #C30000;
}

// em {
//     color: #C30000;
// }