---
---

@import "{{ site.theme }}";

a.orcid {
    background-image: url('../images/orcid.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}